@import url('https://fonts.googleapis.com/css?family=SF+Pro+Display');

header {
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 20px 20px 20px 0px;
    border-bottom: 2px solid black;
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.25s ease; 
    overflow-x: hidden;
}

header a, header p {
    font-family: 'SF Pro Display', sans-serif;
}

.header-transparent {
    opacity: 0;
}

.header-visible {
    opacity: 1 !important; /* Показать заголовок */
    transition: opacity 0.3s ease; /* Анимация изменения прозрачности */
}

header > div > nav > ul > li > a:hover {
    color: purple;
    transition: color 0.4s;
}

.menuBtn {
    display: none;
}

header > div > img{
    height: 40px;
    padding-left: 20px;
}


header > div:first-child{
    align-items: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

header > div:first-child > nav{
    align-items: center;
    display: flex;
    align-items: center;
    gap: 27px;
}

header > div > nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 27px;

}

header > div > nav > ul > li > a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}

header > div > nav > ul > li > button {
    height: 39px;
    background-color: white;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.telephone-button > button:hover {
    background: whitesmoke;
}

.menuBtn {
    display: none;
    padding: 8px;
    padding-top: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.dropdown {
    display: none;
}

.search {
    display: inline-flex;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) inset;
}

.search > input {
    outline: none;
    border: none;
    background: transparent;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
    opacity: 20%;
}

header > div > nav > ul > li > button > a > img{
    padding: 8px;
    height: 18px;
    opacity: 20%;
    display: flex;
    align-items: center;
}

@media (max-width: 1370px) {
	header div nav ul li {
        display: none;
    }

    .menuBtn {
        display: inline-flex;
        
    }

    /* Кнопка выпадающего списка */
  .dropbtn {
    background-color: #f4f4f4;
    color: white;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) inset;
    
  }

  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .dropdown {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999999;
    display: block;
  }

  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
    border-radius: 10px;
  }

  /* Ссылки внутри выпадающего списка */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropbtn img {
    height: 30px;
    filter: drop-shadow(0px 0px 2px #d0d0d0);
  }

  /* Изменение цвета выпадающих ссылок при наведении курсора */
  .dropdown-content a:hover {
    background-color: #ddd;
    }

  /* Показать выпадающее меню при наведении курсора */
  .dropdown:hover > .dropdown-content {
    display: block;
    top: 50px;
    right: 10px
    }

  /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
  .dropdown:hover .dropbtn {background-color: #b8b8b8;}
}
