
main {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    margin-bottom: 120px;
}

img#phoneTitle {
    object-fit:cover;
    width:27%;
    height: 150px;
    border-radius: 30px;
    margin-left: 70px;
    box-shadow: -20px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

.iphone_main {
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-image: url("/assets/image/phone/iphone_background.jpg");
    background-size: 101%;
    height: 600px;
    padding: 30px;
    border-radius: 40px;

    position: relative;

    box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.3);
}

.iphone_main div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.iphone_main h1 {
	font-size: 55px;
}

.iphone_main p {
    font-size: 27px;
}

.iphone_main p, .iphone_main h1 {
    font-family: Arial;
    color: #FFFFFF;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.iphone_main a {
    width: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: black;
    align-items: center;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;
    font-size: 30px;
}

.iphone_main div h1, .iphone_main div p {
    color: aliceblue;
    
}