@import url('https://fonts.googleapis.com/css?family=SF+Pro+Display');



main {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    margin-bottom: 120px;
    font-family: 'SF Pro Display', sans-serif;
}

@media (max-width: 1300px) {
	main {
        width: 90%;
    }
}