@import url('https://fonts.googleapis.com/css?family=SF+Pro+Display');

main {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    margin-bottom: 120px;
    font-family: 'SF Pro Display', sans-serif;  
}


.pageTitle {
    padding-bottom: 40px;
    font-size: 62px; 
    float: left;
}

p#context {
    font-size: 24px;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    clear: both;
}

img#vrTitle {
    object-fit:cover;
    width:300px;
    border-radius: 83px;
    margin-left: 70px;
    box-shadow: 25px 0px 25px 0 rgba(0, 0, 0, 0.1);

}

img#photoAr {
    object-fit:cover;
    width:500px;
    margin: 30px;
    border-radius: 36px;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
    float: left;
}

.video {
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    float: right;
    margin: 20px;
}

.video iframe {
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
    width: 560px; 
    height: 315px;
}

hr{
    height: 3px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    border: 0;
}

h2, h3 {
    margin-top: 20px;
    font-size: 32px;
    padding: 20px 20px 20px 0px;
}

p {
    font-size: 25px;
}

.gallery-container{
    margin: 40px;

    background: radial-gradient(circle, rgba(144, 17, 158, 0.616) 30%, rgba(70, 169, 191, 0.1) 85%, rgba(70, 169, 191, 0) 90%);
}




@media (max-width: 1300px) {
	main{
        width: 90%;
    }
}

@media (max-width: 764px) {
	.video {
        float: none;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 10px;
    }

    .gallery-container {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
}

@media (max-width: 500px) {
	main{
        width: 90%;
        margin-bottom: 60px;
    }

    p#context {
        font-size: 20px;
    }

    main p {
        font-size: 18px;
        text-align: justify;
    }

    main h2, main h3 {
        font-size: 24px;
        text-align: center;
    }

    

    .pageTitle{
        font-size:xx-large;
    }

    img#photoAr {
        width: 90%;
    }

    img#vrTitle {
        width: 70%;
    }
}